


/* This can be deleted as this is in the non forms file
.user-image-info {
    display: flex;
    flex-direction: row;
	width: 100%;
    justify-content: space-around;
    font-size: 2rem;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 5px;
}

.user-image-info > p {
    margin: 1rem 2rem;
}

.user-image-info > button {
    margin: 1rem 2rem;
    font-size: 1rem;
	
}

*/


/* Not being used right now. Moving to the bottom 
.centered-form .social_auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

i.fa-facebook,
i.fa-amazon,
i.fa-google {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    background: lightblue;
    margin: 2rem 0;
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-itrems: center;
}

*/
