/** Login, Create and Message forms **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*font-size: calc(100vh / 40);*/
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: calc(100vw / 40);
    }
    .header-non-forms-page a {
        text-decoration: none;
        font-size: 4rem;
        font-family: 'Yellowtail', cursive;
        color: black;
    }
    .wrapper {
        font-size: calc(100vw / 40);
    }
}

@media only screen and (min-width: 601px) {
    .header-non-forms-page a {
        text-decoration: none;
        font-size: 5rem;
        font-family: 'Yellowtail', cursive;
        color: black;
    }
    
    .wrapper {
        font-size: 15px;
    }
}

body {
    background-image: url('https://aaliya-gallery.s3-us-west-2.amazonaws.com/common/bg.jpg');
    background-size: cover;
    height: 100vh;
}

.header-non-forms-page {
    background-color: lightblue;
    color: black;
    width: 100%;
    top: 0;
    height: 9%;
    position: fixed;
    z-index: 10;
    margin: 0 auto;
    text-align: center;
}


.wrapper {
    position: absolute;
    top: 11%;
    width: 100%;
}

.non-forms-page-main {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    background: rgb(0,0,0,0);    
}

.non-forms-page-main h2 {
    font-size: 2.1em;
    margin: 5px auto;
}

.non-forms-page-main h3 {
    font-size: 1.1em;
    margin: 5px auto;
}

.btn-main-page {
    display: flex;
    flex-direction: row;
}

.btn-main-page > button {
    width: 50%;
    text-align: center;
    font-size: 2em;
    padding: .3em;
    margin: .4em;
    background-color: blue;
    border: none;
    border-radius: 1em;
    color: white; 
    cursor: pointer;
}

.btn-main-page > button:disabled {
    background-color: grey;
    color: #666666;
}


.user-image-info {
    display: flex;
    align-items: center;
	width: 100%;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 5px;
}

.image-title,
.thumbnail-img,
.btn-list {
    width: 33%;
    margin: 3%;
    text-align: center;
}

.image-title {
    font-size: 1.6em;
}

.thumbnail-img {
    height: 10em;
}


.btn-list {
    display: flex;
    flex-direction: column;
}

.btn-list > button {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 5px auto;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0,0,255,0.2);
}





