/** Login, Create and Message forms **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*font-size: calc(100vh / 40);*/
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: calc(100vw / 40);
    }
    .header-forms-page a {
        text-decoration: none;
        font-size: 4rem;
        font-family: 'Yellowtail', cursive;
        color: black;
    }
    .forms-page {
        font-size: calc(100vw / 40);
    }
}

@media only screen and (min-width: 601px) {
    .forms-page {
        font-size: 16px;
    }
    .header-forms-page a {
        text-decoration: none;
        font-size: 5rem;
        font-family: 'Yellowtail', cursive;
        color: black;
    }
}

.header-forms-page {
    background-color: lightblue;
    color: black;
    width: 100%;
    height: 9%;
    position: fixed;
    z-index: 10;
        display: flex;
    justify-content: center;
        align-items: center;
    margin: auto;
}


.forms-page {
    background: #333744;
    background-color: mintcream;
    background-image: url('https://aaliya-gallery.s3-us-west-2.amazonaws.com/common/bg.jpg');
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: absolute;
    top: 9%;
    width: 100%;
}

.forms-page form,
.forms-page .register-complete-page,
.forms-page #confirm-email-page {
    border: .1em solid;
    width: 30em;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    background-color: white;
}

.forms-page .form-component {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.6em;
}

.forms-page .form-component h2 {
    font-size: 2.1em;
}

.forms-page .form-component label {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8em;
    font-weight: bold;
    color: #333744;
    padding-left: 0.8em;
}

.forms-page .form-component input {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: .1em solid lightblue;
    border-radius: 1em;
    padding: 0.7em;
    outline: none;
    font-size: 1.8em;
}

.forms-page .form-component select {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: .1em solid lightblue;
    border-radius: 1em;
    padding: 0.7em;
    font-size: 1.8em;
    outline: none;
    background-color: white;
}

.forms-page .form-component textarea {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: .1em solid lightblue;
    border-radius: 1em;
    padding: 0.7em;
    outline: none;
    font-size: 1.8em;
}

.forms-page .form-component button {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    cursor: pointer;
    padding: 1.2em;
    background-color: blue;
    border: none;
    border-radius: 1em;
    color: white;
    font-size: 1.8em;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.forms-page .form-component button:disabled {
    color: lightgrey;
    opacity: 0.3;
}

.forms-page .form-component p {
    width: 100%;
    text-align: center;
    color: red;
    font-size: 1.6em;
    margin-top: .5em;
}

.forms-page input:focus,
textarea:focus,
select:focus {
    background-color: lightblue;
}

#btn-close-register-form,
#btn-close-register-artist-form,
#btn-close-register-browser-form,
#btn-close-resend-email-form,
#btn-close-login-form,
#btn-close-message-form,
#btn-close-confirm-email-form,
#btn-close-upload-image-form {
    width: 9em;
    opacity: 0.5;
    text-align: right;
    background-color: transparent;
    margin-right: -3.2em;
    margin-top: -1em;
    outline: none;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

.fa-times-circle {
    color: black;
    cursor: pointer;
    font-size: 1.6em;
    margin-right: 1.22em;
    margin-top: -0.15em;
    opacity: 0.7;
}

.fa-times-circle:hover {
    cursor: pointer
}


/* Completion page for register forms. Initially hidden */

.forms-page #register-artist-complete-page,
.forms-page #register-browser-complete-page {
    display: none;
}

.forms-page #confirm-email-page {
    display: none;
}


/* Not being used right now. Moving to the bottom 
.centered-form .social--auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

i.fa-facebook,
i.fa-amazon,
i.fa-google {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    background: lightblue;
    margin: 2rem 0;
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

*/