* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #fff;
}

.header {
    background-color: lightblue;
    color: black;
    width: 100%;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header h1 {
    font-family: 'Yellowtail', cursive;
    padding: 0 2rem;
    font-size: 3rem;
}

#logging {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2rem;
    font-size: 1.8rem;
}

#logging h4 {
    margin: .5rem 1rem;
}

#logging a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 .5rem;
    text-decoration: none;
}

#logging a:link{
    color: black;
}

#logging a:visited{
    color: black;
}

#logout-btn {
    border: none;
    background-color: lightblue;
    margin: 0 .5rem;
    display: none; /* hide till the user is authenticated */
    cursor: pointer;
}

#logging i {
    margin: 0 1rem;
}




.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.image {
    -webkit-perspective: 100rem;
            perspective: 100rem;
    -moz-perspective: 100rem;
    position: relative;  
}


.img {
    width: 95%;
    height: 85%;
    margin: 1rem 1rem 0 1rem;
    border: .3rem solid silver;
    outline: .3rem solid gold;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    position:absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}


/* Image stats */
.img__stats {
    width: calc(95% - .3rem);
    /* height: 11%;*/
    height: calc(15% -1rem -.3rem);
    padding-top: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position:absolute;
    top: 89%;
    left: 0;
    color: #6c6b6b;
    font-size: 1.8rem;
}
.likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.total-likes {
    padding-left: .5rem;
}

.fa-thumbs-up, .fa-info, fa-arrow-circle-left {
    z-index:99;
}

.fa-thumbs-up:hover, .fa-info:hover, fa-arrow-circle-left:hover {
    cursor: pointer
}

.likes__error--message {
    width: calc(95% - .3rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position:absolute;
    top: 96%;
    left: 0;
    color: red;
    font-size: 1.2rem;
}

/* backside of the image */

.img__info {
    margin: 10% 0 0 0;
}
.img__info h2 {
    text-align: center;
    padding: .3rem 0;
    margin: .3rem 0;
    font-size: 1.8rem;
}
.img__back {
    background-color: mintcream;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.img__back--close--container {
    padding:0px;
    margin:0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.fa-arrow-circle-left {
   /*order-left: 1px solid black;
    border-bottom: 1px solid black;*/
    color: black;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 0px;
    margin: 0px;
}

/*
.image:hover .img1 {
    transform: rotateY(180deg);
}

.image:hover .img1--back {
    transform: rotateY(0);
}
*/







/** Login, Create and Message forms **/
.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.centered-form__box {
    -webkit-box-shadow: 0px 0px 1.7rem .1rem #1D1F26;
            box-shadow: 0px 0px 1.7rem .1rem #1D1F26;
    background: #F7F7FA;
    padding: 0 2.4rem 2.4rem 2.4rem;
    width: 25rem;
 
}

.centered-form .social--auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

i.fa-facebook,
i.fa-amazon,
i.fa-google {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    background: lightblue;
    margin: 2rem 0;
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.centered-form label {
    display: block;
    font-size: 1.8rem;
    margin-bottom: .5rem;
    color: #777;
}


.centered-form button {
    width: 100%;
    cursor: pointer;
    padding: 1.2rem;
    background-color: blue;
    border: none;
    color: white;
    font-size: 1.8rem;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    margin: 0 0 1rem 0;
    
}

.centered-form input:focus,textarea:focus {
    background-color: lightblue;
}

.centered-form input {
    margin-bottom: 1.6rem;
    width: 100%;
    border: .1rem solid #eeeeee;
    padding: 1.2rem;
    outline: none;
    font-size: 1.8rem;
}


.centered-form textarea {
    margin-bottom: 1.6rem;
    width: 100%;
    border: .1rem solid #eeeeee;
    padding: 1.2rem;
    outline: none;
    font-size: 1.8rem;
}

.redAsterik {
    color: red;
}

.passwordRequirement {
    font-size: 1.2rem
}

::-webkit-input-placeholder {
    opacity: 0.5;
}

:-ms-input-placeholder {
    opacity: 0.5;
}

::-ms-input-placeholder {
    opacity: 0.5;
}

::placeholder {
    opacity: 0.5;
}



/* Closing all forms */
.close {
    padding:0px;
    margin:0px;
    /*background-color: #F7F7FA;*/
    width: 22.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}


#close-login, #close-register, #close-message {
    border-left: .1rem solid black;
    border-bottom: .1rem solid black;
    border-right: .1rem solid black;
    border-top: .1rem solid black;
    border-radius: 3rem;
    
    cursor: pointer;
    font-size: 1.6rem;
    padding: .5rem;
    margin: -.2rem;
    background-color: blue;
    color: white;
    opacity: 0.5;
}


/* Error messages on all the forms */
#error-register, #error-login, #error-message {
    width: 100%;
    text-align: center;
    color: red;
    font-size: 1.6rem;
}


@media only screen and (max-width: 400px) {
    html {
        font-size: calc(100vw / 40);
    }
    .gallery {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }    
    .image {
        width: 80vw;
        height: 80vw;        
    }
    
    .img {
        height: 80%;
    }      

    .img__stats {
        height: calc(20% -1rem -.3rem);
        top: 85%;
    }
    
    .img__stats h4 {
        font-size: 2.5rem;
    }
    
    .img__stats h5 {
        font-size: 2rem;
    }
    
    .fa-thumbs-up, .fa-info, .fa-arrow-circle-left {
        font-size: 3.5rem;
    }   
}

@media only screen and (min-width: 401px) and (max-width:960px) {
    
    .gallery {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    
    .image {
        width: 48vw;
        height: 48vw;
    }
}

@media only screen and (min-width: 961px) {
    .gallery {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .image {
        width: 480px;
        height: 480px;
    }
}