* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.header {
    background-color: lightblue;
    color: black;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-family: 'Yellowtail', cursive;
    padding: 0 20px;
}

#logging {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

#logging h4 {
    margin: 5px 10px;
}

#logging a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    text-decoration: none;
}

#logging a:link{
    color: black;
}

#logging a:visited{
    color: black;
}

#logout-btn {
    border: none;
    background-color: lightblue;
    margin: 0 5px;
    display: none; /* hide till the user is authenticated */
    cursor: pointer;
}

#logging i {
    margin: 0 10px;
}




.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.img {
    width: 95%;
    height: 85%;
    margin: 10px 20px 1px 20px;
    border: 3px solid silver;
    outline: 3px solid gold;
}

.image__info {
    width: 95%;
    height: 15%;
    display: flex;
    align-items: flex-start;
    margin: 0 20px;
    justify-content: space-between;
}

.likes {
    display: flex;
}

.total_likes {
    margin-left: auto;
}



/** Login Form **/



.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 0 24px 24px 24px;
    width: 250px;
 
}

.centered-form .social--auth {
    display: flex;
    justify-content: space-around;
}

i.fa-facebook,
i.fa-amazon,
i.fa-google {
    display: flex;
    color: #fff;
    background: lightblue;
    margin: 20px 0;
    width: 40px;
    height: 40px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
}


.centered-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}


.centered-form button {
    width: 100%;
    cursor: pointer;
    padding: 12px;
    background: blue;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
    margin: 0 0 10px 0;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

.centered-form textarea {
    margin-bottom: 16px;
    width: 100%;
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}


.close {
    padding:0px;
    margin:0px;
    background-color: #F7F7FA;
    width: 226px;
    display: flex;
    justify-content: flex-end;
}

#close-login, #close-register, #close-message {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

#error-register, #error-login, #error-message {
    width: 100%;
    text-align: center;
    color: red;
}





@media only screen and (max-width: 400px) {
    .image {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 401px) and (max-width:960px) {
    
    .gallery {
        justify-content: space-around;
    }
    
    .image {
        width: 50vw;
        height: 50vw;
    }
}

@media only screen and (min-width: 961px) {
    .gallery {
        justify-content: space-between;
    }

    .image {
        width: 480px;
        height: 480px;
    }
}