@media only screen and (max-width: 600px) {
    html {
        font-size: calc(100vw / 40);
    }
    .gallery {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }    
    .image {
        width: 90vw;
        height: 90vw;        
    }

    
    .btn-info, .btn-thumbs-up, .btn-close-information {
        width: 4rem;
    }
    
    .fa-thumbs-up, .fa-info, .fa-arrow-circle-left {
        font-size: 3.5rem;
    }  
    
}


@media only screen and (min-width: 601px) and (max-width:959px) {    
    .gallery {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }    
    .image {
        width: 48vw;
        height: 48vw;
    }    
    .img__stats h4 {
        font-size: 2rem;
        padding-top: .3rem;
    }    
    .img__stats h5 {
        font-size: 1.5rem;
        padding-top: .3rem;
    }   
}

@media only screen and (min-width: 960px) {
    .gallery {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .image {
        width: 480px;
        height: 480px;
    }
    
     .btn-info, .btn-thumbs-up, .btn-close-information {
        width: 4rem;
    }
    
    .fa-thumbs-up, .fa-info, .fa-arrow-circle-left {
        font-size: 3.5rem;
    }   
}